<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>EY | Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> -->
    
     <link rel="stylesheet" href="./dashboard.css"> 
    
    <!-- JQuery Confirm -->
    
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css"> -->
    <!-- <script type="text/javascript" src="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.js"></script> -->
    
    <script src="./js/dashboard.js"></script> 
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>

 
    
  </head>
  <body class="container-fluid">
    <div id="loading" style="display: none;"></div>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
                    <img src="./css/logo.png" alt="LOGO">
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                    </a>
                </li>            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li> -->
                        <!-- <li class="divider"></li> -->
                        <li><a href="#" id="logoutBtn"><i class="fa fa-fw fa-power-off" ></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <!-- <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-search"></i> MENU 1 <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-1" class="collapse">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.2</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i>  MENU 2 <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-2" class="collapse">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="investigaciones/favoritas"><i class="fa fa-fw fa-user-plus"></i>  MENU 3</a>
                    </li>
                    <li>
                        <a href="sugerencias"><i class="fa fa-fw fa-paper-plane-o"></i> MENU 4</a>
                    </li>
                    <li>
                        <a href="faq"><i class="fa fa-fw fa fa-question-circle"></i> MENU 5</a>
                    </li> -->
                    <li class="treeview active">
                        <a href="#" >
                            <i class="fa fa-dashboard"></i> <span value="dashboard">Dashboard</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main" >
                    <!-- <div class="col-sm-12 col-md-12 well" id="content">
                        <h1>Welcome Admin!</h1>
                        <input id="datePick" type="text"/>

                    </div> -->
                    
                    <div class="col-sm-12 table_container" id="mainContainerHead">
                
                    </div>
                    <div class="col-sm-12 table_container" id="mainContainer">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 form-details">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h2 style="margin-left: 50px">Please fill the form </h2>
                                </div>
                                <!-- <div class="col-sm-8 col-sm-offset-2 form-details">
                                      <div class="form-group">
                                        <input type="text" id="asd" class="form-control" required>
                                        <label class="form-control-placeholder" for="asd">Name</label>
                                      </div>
                                      <div class="form-group">
                                        <input type="password" id="password" class="form-control" required>
                                        <label class="form-control-placeholder" for="password">Password</label>
                                      </div>
                                      <div class="form-group">
                                            <div class="btn btn-s btn-grey"> Small </div>
                                      </div>
                                </div> -->
                                <form id="fancyForm">
                                    <div class="row col-sm-10 col-sm-offset-1">
                                        <input type="text" name="fancy-text" id="fancy-text" class="complyUrl"/>
                                        <label for="fancy-text">Url</label>
                                    </div>
                                      
                                    <div class="row col-sm-10 col-sm-offset-1">
                                        <textarea title="Fill in the comma(',') separated keywords" name="fancy-textarea" id="fancy-textarea" class="complyKeywords"></textarea>
                                        <label for="fancy-textarea">Keywords </label>
                                    </div>
                                    <div class="form-group col-sm-2 col-sm-offset-4">
                                        <div class="btn btn-s btn-grey" id="submitComplyForm"> Submit </div>
                                  </div>
                                </form>
                                  
                            </div>
                            
                          </div>
   
                    </div>
                    <div class="col-sm-12 table_container" style="display:block; margin-top:15px" id="summariesContainer">
                        


                        


                    </div>

                   
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    


  </body>
</html>
